.laius {
  background-color: #e2aaae;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 180vh;
  overflow: hidden;
  font-family: var(--font-family-primary);
}

.translateLeft {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.translateRight {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.slide-outLeft {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

.slide-outRight {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

.laius_title {
  display: flex;
  text-align: center;
  width: 50%;
  margin: auto 100px auto 100px;
  font-size: 40px;
}

.laius_pitch {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:4vh;
  width: 50%;
  margin: auto 60px auto 0px;
  font-size: 28px;
}