.laius {
  background-color: #e2aaae;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 200vh;
  overflow: hidden;
}

.translateLeft {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.translateRight {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.slide-outLeft {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

.slide-outRight {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

.laius_title {
  /* background-color: red; */
  display: flex;
  text-align: center;
  width: 50%;
  margin: auto 100px auto 100px;
  font-size: 32px;

}

.laius_pitch {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: auto 100px auto 100px;
  font-size: 24px;
}