<div #laiusContainer class="laius">
    <div class="laius_title" (window:scroll)="onScroll($event)">
        <h1 [ngClass]="{'slide-in': laiusComeIn && !laiusComeOut, 'slide-outLeft': laiusComeOut}" class="translateLeft">
            Notre philosophie du visage et du corps vise à révéler votre beauté
            naturelle à travers chaque séance.
        </h1>
    </div>
    <div class="laius_pitch" (window:scroll)="onScroll($event)">
        <h2 [ngClass]="{'slide-in': laiusComeIn && !laiusComeOut, 'slide-outRight': laiusComeOut}"
            class="translateRight">Chez nous, les soins de beauté sont holistiques, personnalisés et visent des
            résultats durables, adaptés à chaque type de peau, en utilisant des produits innovants et des techniques
            éprouvées.</h2>
        <h2 [ngClass]="{'slide-in': laiusComeIn && !laiusComeOut, 'slide-outRight': laiusComeOut}"
            class="translateRight">Nous offrons une gamme complète de soins corporels et de massages relaxants,
            utilisant des ingrédients naturels pour revitaliser la peau et stimuler la circulation. </h2>
        <h2 [ngClass]="{'slide-in': laiusComeIn && !laiusComeOut, 'slide-outRight': laiusComeOut}"
            class="translateRight">Nous sublimons votre beauté naturelle avec des produits de maquillage de haute
            qualité adaptés à tous les types de peau, tout en respectant votre identité et votre santé cutanée.</h2>
    </div>
</div>