.header {
    background-image: url('../../../assets/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120vh;
    font-family: var(--font-family-primary);
}

@keyframes slideDownUp {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    25% {
        transform: translateY(0);
        opacity: 1;
        animation-timing-function: ease;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        transform: translateY(100%);
        opacity: 0;
        animation-timing-function: ease;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.header_title_top,
.header_title_bottom {
    animation: slideDownUp 6s ease-in-out infinite;
}

.header_title_top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 80px;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    font-weight: bold;
    margin: 0;
    line-height: 0;
    margin-top: -10vh;
    margin-bottom: 5vh;
    animation-delay: 0s;
    color: #e2aaae;
}

.header_title_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 64px;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    font-weight: bold;
    margin: 0;
    line-height: 0;
    animation-delay: 0s;
    color: #e2aaae;
}