.header {
    background-image:
        /* linear-gradient(0deg, rgba(226, 170, 174, 1) 0%, rgba(226, 170, 174, 0) 15%), */
        /* linear-gradient(90deg, rgba(226, 170, 174, 1) 0%, rgba(226, 170, 174, 0) 15%), */
        /* linear-gradient(180deg, rgba(226, 170, 174, 1) 0%, rgba(226, 170, 174, 0) 15%), */
        /* linear-gradient(270deg, rgba(226, 170, 174, 1) 0%, rgba(226, 170, 174, 0) 15%), */
        url('../../../assets/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header_title_top {
    text-align: center;
    font-size: 56px;
    color: #F6F7EF;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    font-weight: bold;
    margin-top: 20vh;
}

.header_title_bottom {
    text-align: center;
    font-size: 48px;
    color: #F6F7EF;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    font-weight: bold;
}