.prestation {
  background-color: #e2aaae;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  padding-bottom: 100px;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.handle-in {
  opacity: 1;
}

.handle-out {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 40px;
  margin-bottom: 200px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 1s ease-in, box-shadow 0.3s ease-in-out;
}

.photo:hover {
  -webkit-box-shadow: 0px 0px 20px 0px #000000;
  box-shadow: 0px 0px 20px 0px #000000;
}

.photo:hover .soinTitle {
  transform: translate(-50%, -50%) scale(1.08);
}

.soinTitle {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 56px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 60%;
  transition: transform 0.4s ease-in-out;
  font-family: var(--font-family-tertiodenary);
}