<div class="footer">
    <div class="top">
        <div class="topLeft">
            <div class="distance">
                <p class="pitch">Domiciliée à Charrais 86170, je me déplace dans toutes les communes aux alentours,
                    sur rendez-vous, avec du matériel et des produits professionnels.</p>
            </div>
            <div class="panneaux">
                <div class="partenaire">
                    <p class="reglement">Les produits utilisés et vendus sont certifiés Bio, Végan, Naturel et fabriqués
                        en France</p>
                    <div class="triangle">
                        <div class="certif">
                            <img src={{acorelle}} alt="Acorelle" class="icone">
                        </div>
                        <div class="certif">
                            <img src={{charlotte}} alt="Charlotte BIO" class="icone">
                            <img src={{hair}} alt="Min Hair All" class="icone">
                        </div>
                    </div>
                </div>
                <div class="infos">
                    <p class="rdv">Prenez rendez-vous!</p>
                    <div class="phone">
                        <p class="phone_details">Téléphone</p>
                        <p class="phone_details up">05.49.43.30.65</p>
                        <p class="phone_details">Mobile</p>
                        <p class="phone_details up">06.61.35.68.77</p>
                    </div>
                    <div class="mail">
                        <p>Mail</p>
                        <p class="up">
                            <a href="mailto:nadiapannetier@free.fr" class="mail_link"> nadiapannetier&#64;free.fr </a>
                        </p>
                    </div>
                    <div class="social">
                        <p>Facebook</p>
                        <img src={{facebook}} alt="Facebook" class="facebook">
                    </div>
                </div>
                <div class="horaire">
                    <div class="heures">
                        <p class="jour gras">Jour</p>
                        <p class="heure gras">Heures</p>
                    </div>
                    <div class="heures">
                        <p class="jour">Lundi</p>
                        <p class="heure">9h - 19h</p>
                    </div>
                    <div class="heures">
                        <p class="jour">Mardi</p>
                        <p class="heure">9h - 19h</p>
                    </div>
                    <div class="heures">
                        <p class="jour">Mercredi</p>
                        <p class="heure">9h - 19h</p>
                    </div>
                    <div class="heures">
                        <p class="jour">Jeudi</p>
                        <p class="heure">9h - 19h</p>
                    </div>
                    <div class="heures">
                        <p class="jour">Vendredi</p>
                        <p class="heure">9h - 19h</p>
                    </div>
                    <div class="heures">
                        <p class="jour">Samedi</p>
                        <p class="heure">9h - 12h</p>
                    </div>
                    <div class="heures">
                        <p class="jour">Dimanche</p>
                        <p class="heure">Fermé</p>
                    </div>
                </div>
            </div>
            <div class="notification">
                <p class="notification_details">Règlement en espèces ou chéques</p>
            </div>
        </div>
        <div class="topRight">
            <div class="map_container">
                <a href='https://www.google.com/maps/dir//3+Rue+du+Bocq,+Saint-Martin-la-Pallu/@46.7067352,0.2097779,15.25z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47fd9a4a03a21841:0x3f59ef2f70d9cada!2m2!1d0.2178848!2d46.7043601?entry=ttu'
                    target="_blank">
                    <img src={{map}} alt="Map" class="image_map">
                </a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright</p>
        <p>Mentions légales</p>
        <p>N° siren : 840 650 659</p>
    </div>
</div>