.footer {
    background-color: #e2aaae;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family-tertiary);
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.topLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto 50px auto 100px;
}

.distance {
    background-color: #fbf7e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    border: 2px solid #b28c23;
}

.pitch {
    text-align: center;
    font-size: 30px;
    color: #b28c23;
    margin: 0;
    margin: auto 50px auto 50px;
}

.panneaux {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 50vh;
}

.partenaire {
    background-color: #fbf7e9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 2px solid #b28c23;
}

.reglement {
    color: #b28c23;
    font-size: 24px;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
}

.triangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    width: 100%;
}

.certif {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    width: 100%;
    margin: 0;
}

.icone {
    width: 100px;
    height: 100px;
}

.infos {
    background-color: #fbf7e9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: 2px solid #b28c23;
}

.rdv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b28c23;
    font-size: 28px;
    height: 50px;
    margin: 0;
    text-decoration: underline;
}

.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 2rem;
    color: #b28c23;
}

.telephone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone_details {}

.mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #b28c23;
}

.mail_link {
    margin: 0;
    line-height: 0;
    color: #54AE8A;

}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    line-height: 0;
    color: #b28c23;
}

.horaire {
    background-color: #fbf7e9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: 2px solid #b28c23;
}

.heures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    width: 100%;
    margin: 0;
    color: #b28c23;
}

.jour {
    width: 100px;
    height: 100%;
    margin: 0;
}

.heure {
    width: 100px;
    height: 100%;
    margin: 0;
}

.gras {
    font-weight: bolder;
}

.notification {
    background-color: #fbf7e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border: 2px solid #b28c23;
}

.notification_details {
    font-size: 20px;
    color: #b28c23;
}

.topRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin-right: 100px;
}

.map_container {
    background-image: url('../../../assets/map2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    border: 2px solid #b28c23;
    z-index: 1;
}

.image_map {
    opacity: 0;
    overflow: hidden;
    z-index: 1;
}

.cercle {
    background-color: green;
    position: absolute;
    top: 13em;
    left: 13em;
    width: 340px;
    height: 340px;
    opacity: 0.3;
    border-radius: 500px;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 128, 0, 1);
    box-shadow: 0px 0px 50px 40px rgba(0, 128, 0, 1);
}

.bottom {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid grey;
    height: 50px;
}