<div class="footer">
    <div class="top">
        <div class="left">
            <div class="map_container">
                <a href='https://www.google.com/maps/dir//3+Rue+du+Bocq,+Saint-Martin-la-Pallu/@46.7067352,0.2097779,15.25z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47fd9a4a03a21841:0x3f59ef2f70d9cada!2m2!1d0.2178848!2d46.7043601?entry=ttu'
                    target="_blank">
                    <img src={{map}} alt="Map" class="image_map">
                </a>
            </div>
        </div>
        <div class="right">
            <div class="distance">
                <p class="left_pitch">Domiciliée à Charrais 86170, je me déplace dans toutes les communes aux alentours,
                    sur rendez-vous, avec du matériel et des produits professionnels.</p>
                <p>Prenez rendez-vous!</p>
            </div>
            <div class="phone">
                <p>Téléphone : 05.49.43.30.65</p>
                <p>Mobile : 06.61.35.68.77</p>
            </div>
            <div class="mail">
                <p>Mail : <a href="mailto:nadiapannetier@free.fr"> nadiapannetier&#64;free.fr </a></p>
            </div>
            <div class="social">
                <img src={{facebook}} alt="Facebook" class="facebook">
                <p>Facebook</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright</p>
        <p>Mentions légales</p>
        <p>N° siren : 840 650 659</p>
    </div>
</div>