<div class="mentions">
    <div class="mentionsContainer">
        <h1 class="mentionsTitle">Mentions légales</h1>
        <h3 class="mentionsCategorie">INFORMATIONS LEGALES</h3>
        <div class="mentionsSections">
            <p class="mentionsTexte">Ce site est édité et entièrement financé par NADIA.</p>
            <p class="mentionsTexte">Numéro SIREN 840 650 659.</p>
            <p class="mentionsTexte">Le siège social est situé 3, rue du Bocq, 86170 Saint-Martin-la-Pallu</p>
        </div>
        <h3 class="mentionsCategorie">EDITEUR</h3>
        <div class="mentionsSections">
            <p class="mentionsTexte">NADIA</p>
            <p class="mentionsTexte">3, rue du Bocq, 86170 Saint-Martin-la-Pallu</p>
            <p class="mentionsTexte">Email : nadiapannetier&#64;free.fr</p>
            <p class="mentionsTexte">Tél. : 05 49 43 30 65</p>
            <p class="mentionsTexte">www.unmomentpoursoi86nadia.com</p>
            <p class="mentionsTexte">Le directeur de la publication est Madame Nadia PANNETIER en sa qualité de
                gérante.</p>
        </div>
        <h3 class="mentionsCategorie">HEBERGEUR</h3>
        <div class="mentionsSections">
            <p class="mentionsTexte">OVH</p>
            <p class="mentionsTexte">140, quai du Sartel – 59100 ROUBAIX</p>
            <p class="mentionsTexte">Tél. : 08 20 32 03 63</p>
            <p class="mentionsTexte">www.ovh.com</p>
        </div>
        <h3 class="mentionsCategorie">CONCEPTEUR</h3>
        <div class="mentionsSections">
            <p class="mentionsTexte">Ce site a été conçu bénévolement par un particulier, Vincent Rouget.</p>
        </div>
        <h3 class="mentionsCategorie">DROIT D'AUTEUR</h3>
        <div class="mentionsSections">
            <p class="mentionsTexte">La structure générale, ainsi que les textes, images animées ou fixes, sons,
                graphismes,
                documents téléchargeables, bases de données et tout autre élément composant le site ne sont pas libres
                de
                droit
                et
                sont, sauf mention contraire, la propriété exclusive de NADIA.</p>
            <p class="mentionsTexte">L'ensemble de ce site relève de la législation française et internationale sur les
                droits
                d’auteur et de la propriété intellectuelle. Les noms, marques et enseignes cités sur ce site sont la
                propriété
                de
                leurs déposants respectifs. </p>
            <p class="mentionsTexte">Toute utilisation ou reproduction, totale ou partielle, du site, des éléments qui
                le
                composent
                et/ou des informations qui y figurent, par quelque procédé que ce soit, constitue une contrefaçon
                sanctionnée
                par le
                Code de la propriété intellectuelle. Les documents, informations, éléments graphiques, … de toute nature
                figurant
                sur www.unmomentpoursoi86nadia.com ne peuvent faire l’objet de copie sauf à des fins strictement
                privées.
            </p>
            <p class="mentionsTexte">De la même manière, ils ne peuvent en aucun cas être reproduits ni modifiés, que ce
                soit à
                titre onéreux ou gracieux, sans autorisation expresse écrite.</p>
        </div>
        <h3 class="mentionsCategorie">LIENS HYPERTEXTES</h3>
        <div class="mentionsSections">
            <p class="mentionsTexte">NADIA autorise tout site internet à établir un lien pointant vers l’adresse
                www.unmomentpoursoi86nadia.com. </p>
            <p class="mentionsTexte">Tout lien de ce type interviendra toutefois sous réserve des dispositions légales
                en vigueur.</p>
            <p class="mentionsTexte">NADIA se réserve la possibilité, à tout moment, sans préavis et sans avoir à
                motiver sa décision,
                d’interdire
                ces
                liens. Dans ce cas il informera la personne concernée.</p>
        </div>
        <h3 class="mentionsCategorie">SITES LIES</h3>
        <div class="mentionsSections">
            <p class="mentionsTexte">NADIA décline toute responsabilité concernant le contenu disponible sur les autres
                sites
                internet vers lesquels il a créé des liens ou qui auraient pu être créés à son insu. </p>
            <p class="mentionsTexte">L’accès à tous les autres sites internet liés à ce site web se fait aux risques
                de
                l’utilisateur.</p>
            <p class="mentionsTexte">NADIA décline aussi toute responsabilité pour toutes les informations contenues sur
                des
                sites
                tiers où figurent des liens renvoyant au site www.unmomentpoursoi86nadia.com.</p>
        </div>
    </div>
</div>