.visage {
    background-image: url('../../../assets/visage_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
    width: 100vw;
    min-height: 104vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #b28c23;
}

.visage_title {
    background-color: #fbf7e9;
    text-align: center;
    font-size: 40px;
    margin-top: 15vh;
    margin-bottom: 10vh;
    padding: 10px 30px;
    border: 2px solid #b28c23;
    text-decoration: underline;
}

.visage_container {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    gap: 20px;
}

.visage_visage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visage_japonais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visage_liste {
    background-color: #fbf7e9;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 20px 20px;
    border: 2px solid #b28c23;
}

.ligne {
    /* background-color: pink; */
    display: flex;
    width: 35vw;
    font-size: 30px;
    margin-bottom: 2vh;
}

.name {
    /* background-color: yellow; */
    white-space: nowrap;
    margin: 0 5px 0 0;
}

.detail {
    /* background-color: red; */
    font-size: 20px;
    margin: 0;
}

.name_detail {
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* line-height: 0; */
}

.hiddenDot {
    /* background-color: green; */
    width: 100%;
    overflow: hidden;
}


.prix {
    /* background-color: grey; */
    white-space: nowrap;
    margin-left: 5px;
}