.corps {
    background-image: url('../../../assets/corps_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
    width: 100vw;
    min-height: 104vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #b28c23;
    font-family: var(--font-family-quaternary);
}

.corps_title {
    background-color: #fbf7e9;
    text-align: center;
    font-size: 40px;
    margin-top: 20vh;
    margin-bottom: 15vh;
    padding: 10px 50px;
    border: 2px solid #b28c23;
    text-decoration: underline;
    font-family: var(--font-family-duodenary);
}

.corps_container {
    background-color: #fbf7e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 50px;
    border: 2px solid #b28c23;
}

.ligne {
    display: flex;
    width: 30vw;
    font-size: 30px;
    line-height: 2;
}

.name {
    white-space: nowrap;
    margin: 0 5px 0 0;
}

.detail {
    font-size: 20px;
    margin: 0;
}

.name_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}

.hiddenDot {
    width: 100%;
    overflow: hidden;
}

.prix {
    white-space: nowrap;
    margin-left: 5px;
}