<div class="navbar">
    <div class="navbar_container">
        <div class="navbar_button">
            <a [routerLink]="['/']" class="navbar_link">
                Accueil
            </a>
        </div>
        <div [ngClass]="focusEpilation() ? 'navbar_button' : 'navbar_button_focus'">
            <a [routerLink]="['/epilation']" [ngClass]="focusEpilation() ? 'navbar_link' : 'navbar_link_focus'">
                Epilation
            </a>
        </div>
        <div [ngClass]="focusMains() ? 'navbar_button' : 'navbar_button_focus'">
            <a [routerLink]="['/soins_des_mains']" [ngClass]="focusMains() ? 'navbar_link' : 'navbar_link_focus'">
                Soins des mains
            </a>
        </div>
        <div [ngClass]="focusVisage() ? 'navbar_button' : 'navbar_button_focus'">
            <a [routerLink]="['/visage']" [ngClass]="focusVisage() ? 'navbar_link' : 'navbar_link_focus'">
                Soins du visage
            </a>
        </div>
        <div [ngClass]="focusCorps() ? 'navbar_button' : 'navbar_button_focus'">
            <a [routerLink]="['/corps']" [ngClass]="focusCorps() ? 'navbar_link' : 'navbar_link_focus'">
                Soins du corps
            </a>
        </div>
        <div [ngClass]="focusMassage() ? 'navbar_button' : 'navbar_button_focus'">
            <a [routerLink]="['/massage']" [ngClass]="focusMassage() ? 'navbar_link' : 'navbar_link_focus'">
                Massage
            </a>
        </div>
        <div [ngClass]="focusMaquillage() ? 'navbar_button' : 'navbar_button_focus'">
            <a [routerLink]="['/maquillage']" [ngClass]="focusMaquillage() ? 'navbar_link' : 'navbar_link_focus'">
                Maquillage
            </a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>