.moment {
    background-color: #e2aaae;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200vh;
}

.moment_image {
    background-image: url('../../../assets/moment.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.moment_title {
    width: 40vw;
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: 72px;
    color: #e2aaae;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    line-height: 1;
    margin-top: 2vh;
    margin-right: 2vw;
}

@media (max-width: 1440px) {
    .moment_image {
        align-items: center;
    }

    .moment_title {
        width: auto;
        font-size: 64px;
        margin: 0;
        margin-top: 10vh;
    }
}

@media (max-width: 1024px) {
    .moment_title {
        font-size: 56px;
    }
}

@media (max-width: 768px) {
    .moment_title {
        font-size: 48px;
    }
}

@media (max-width: 480px) {
    .moment_title {
        font-size: 40px;
        padding: 0px 5vw;
        margin-top: 4vh;
    }
}