.moment {
    background-color: #e2aaae;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200vh;
}

.moment_image {
    background-image: url('../../../assets/moment.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.moment_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: 64px;
    color: #e2aaae;
    margin: 0;
    margin-top: 4vh;
    padding: 2vh 4vw;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1440px) {
    .moment_title {
        font-size: 56px;
    }
}

@media (max-width: 1024px) {
    .moment_title {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .moment_title {
        margin: 4vh 10vw 0 10vw;
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .moment_title {
        font-size: 24px;
    }
}