.massage {
    background-image: url('../../../assets/massage_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
    width: 100vw;
    min-height: 104vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #b28c23;
    font-family: var(--font-family-quaternary);
}

.massage_title {
    background-color: #fbf7e9;
    text-align: center;
    font-size: 40px;
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding: 10px 50px;
    border: 2px solid #b28c23;
    text-decoration: underline;
    font-family: var(--font-family-duodenary);
}

.massage_container {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

.massage_indien {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.massage_suedois {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.massage_liste {
    background-color: #fbf7e9;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding: 20px 50px;
    border: 2px solid #b28c23;
}

.section {
    margin-bottom: 20px;
}

.description {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.ligne {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 30px;
    margin-bottom: 30px;
}

.name {
    margin: 0 5px 0 0;
}

.nowrap {
    white-space: nowrap;
}

.detail {
    font-size: 20px;
    margin: 0;
}

.name_detail {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30vw;
}

.dot {
    /* background-color: red; */
    margin: 0 5px;
    width: 50%;
    overflow: hidden;
}

.hiddenDot {
    height: 100%;
    overflow: hidden;
}

.prix {
    /* background-color: blue; */
    white-space: nowrap;
    width: auto;
}