<div class="epilation">
    <h1 class="epilation_title">Epilation</h1>
    <div class="epilation_container">
        <div class="epilation_visage">
            <div class="epilation_liste">
                <h1>VISAGE</h1>
                <div *ngFor="let epilation of epilationVisage" class="ligne">
                    <p class="name">{{ epilation.name }} </p>
                    <p class="hiddenDot">{{dot}}</p>
                    <div class="prix">
                        <p>{{ epilation.prix }} €</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="epilation_maillot">
            <div class="epilation_liste">
                <h1>MAILLOT</h1>
                <div *ngFor="let epilation of epilationMaillot" class="ligne">
                    <p class="name">{{ epilation.name }} </p>
                    <p class="hiddenDot">{{dot}}</p>
                    <div class="prix">
                        <p>{{ epilation.prix }} €</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="epilation_corps">
            <div class="epilation_liste">
                <h1>CORPS</h1>
                <div *ngFor="let epilation of epilationCorps" class="ligne">
                    <p class="name">{{ epilation.name }} </p>
                    <p class="hiddenDot">{{dot}}</p>
                    <div class="prix">
                        <p>{{ epilation.prix }} €</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>