.epilation {
  background-image: url('../../../assets/epilation_page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
  width: 100vw;
  min-height: 104vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #b28c23;
  font-family: var(--font-family-quaternary);
}

.epilation_title {
  background-color: #fbf7e9;
  text-align: center;
  font-size: 40px;
  margin-top: 20vh;
  margin-bottom: 15vh;
  padding: 10px 50px;
  border: 2px solid #b28c23;
  text-decoration: underline;
  font-family: var(--font-family-duodenary);
}

.epilation_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  gap: 30px;
}

.epilation_visage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.epilation_maillot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.epilation_corps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.epilation_liste {
  background-color: #fbf7e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  min-width: 300px;
  padding: 20px 30px;
  border: 2px solid #b28c23;
  margin-bottom: 10vh;
}

.ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  line-height: 1;
  font-size: 30px;
}

.name {
  width: 100%;
  margin-right: 5px;
}

.dot {
  margin: 0 5px;
  width: 100%;
  overflow: hidden;
}

.hiddenDot {
  height: 100%;
  overflow: hidden;
}

.prix {
  white-space: nowrap;
  margin-left: 5px;
}

@media (max-width: 1440px) {
  .epilation_title {
    font-size: 32px;
  }

  .name {
    font-size: 24px;
  }

  .prix {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .name {
    font-size: 20px;
  }

  .prix {
    font-size: 20px;
  }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {
  .epilation_title {
    font-size: 24px;
    padding: 10px 10px;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .epilation_container {
    width: 100%;
  }

  .epilation_liste {
    width: 90vw;
    min-width: 100px;
  }

  .ligne {
    flex-direction: column;
  }

  .name {
    white-space: wrap;
    text-align: center;
    margin-bottom: 1vh;
  }

  .hiddenDot {
    display: none;
  }

  .prix {
    text-align: center;
    margin-bottom: 3vh;
  }
}