.commentary {
    background-image: url('../../../assets/commentary_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
    width: 100vw;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #b28c23;
}

.commentary_title {
    background-color: #fbf7e9;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 8vh;
    padding: 5px 30px;
}

.commentary_form {
    padding: 0;
    font-size: 20px;
    margin-bottom: 3vh;
}

#commentaryContent {
    background-color: #fbf7e9;
    width: 35vw;
    height: 30vh;
    font-size: 30px;
}

.rest {
    margin-top: -30px;
    margin-left: 5px;
}

.commentary_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentaryButton {
    background-color: #fbf7e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding:0px 50px 0px 50px;
    text-decoration: none;
    font-size: 24px;
    white-space: nowrap;
    cursor: pointer;
    color: grey;
    border: none;
}

.commentaryButton:hover {
    text-decoration: underline;
    color: black;
}