<div class="commentary">
  <div class="commentary_title">
    <h1>Ecrivez-nous un commentaire</h1>
  </div>
  <div class="commentary_form">
    <label for="commentaryContent"></label>
    <textarea id="commentaryContent" [(ngModel)]="content" (input)="onContentChange($event)"
      placeholder=""><p class="rest"></p></textarea>
    <p class="rest">Caractères restants : {{ restCharacter }}</p>
  </div>
  <div class="commentary_button">
    <button (click)="sendCommentary()" class="commentaryButton">Envoyer</button>
  </div>
</div>