<div *ngIf="showCommentsPage()" [ngClass]="showLimitedComments() ? 'commentary' : 'commentary_url'">
    <div class="commentary_title">
        <h1>Nos clients ont aimé</h1>
    </div>
    <div class="commentary_container">
        <div class="commentary_top">
            <div class="commentary_contents">
                <ng-container *ngIf="showLimitedComments()">
                    <div *ngFor="let commentary of allComments.slice(0, 6)" class="commentary_one">
                        <div class="center">
                            <div class="commentary_date">Le {{commentary.date}}</div>
                            <div class="commentary_line">
                                <span class="guillemet">"</span>
                                <div class="content-container">
                                    <span class="commentary_content">{{commentary.content}}</span>
                                </div>
                                <span class="guillemet closing">"</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!showLimitedComments()">
                    <div *ngFor="let commentary of allComments" class="commentary_one">
                        <div class="center">
                            <div class="commentary_date">Le {{commentary.date}}</div>
                            <div class="commentary_line">
                                <span class="guillemet">"</span>
                                <div class="content-container">
                                    <span class="commentary_content">{{commentary.content}}</span>
                                </div>
                                <span class="guillemet closing">"</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="commentary_bottom">
            <div class="commentary_button">
                <ng-container *ngIf="showLimitedComments()">
                    <a [routerLink]="['/commentaires']" class="route">Voir plus...</a>
                </ng-container>
                <ng-container *ngIf="!showLimitedComments()">
                    <a [routerLink]="['/']" class="route">Accueil</a>
                </ng-container>
                <a [routerLink]="['/avis']" class="route">Ecrire un commentaire</a>
            </div>
        </div>
    </div>
</div>